<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--
    Logging Configuration:
      OFF = 0
      DEBUG = 1
      INFO = 2
      WARN = 3
      ERROR = 4
      FATAL = 5
    
      Description: log type >= logging config
    -->
    <add key="logging" value="1,2,3,4,5"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
