<?xml version="1.0" encoding="utf-8"?>
<Server name="Rocket Launcher" target="Application.exe" layout="layout.xml">
  <FontPackage name="Moltors" archive="moltors.zip" package="moltors.zip"/>
  
  <Updates>
    <Update version="0.1" dir="">0.1-update.xml</Update>
    <Update version="0.2" dir="">0.2-update.xml</Update>
  </Updates>
</Server>