<?xml version="1.0" encoding="utf-8"?>
<server name="Rocket Launcher" target="application.exe">
  <font name="Moltor" archive="moltors.zip" package="https://dl.dropboxusercontent.com/u/49948294/updater/server2/moltors.zip">
    <apply to="lblName" size="20" unit="Point" bold="false" italic="false" strikeout="false" underline="false" gdicharset="0" gdiverticalfont="false"/>
  </font>
  <update version="0.2">
    https://dl.dropboxusercontent.com/u/49948294/updater/server/0.2/0.2-update.xml
  </update>
</server>